// Text Color
$primary-color:#171822;
$secondary-color:#646157;
$tertiary-color:#a3a199;
// Accent color
$accent-color: #ffd46d;
// Background Color
$primary-bg-color:#f8f7f3;
// Boder Color
$border-color: #ededed;